<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.alexw.youtrack</string>
	<key>category</key>
	<string>Fundbox</string>
	<key>connections</key>
	<dict>
		<key>07C6DD38-1F01-489F-9DCE-2E7F981B3F53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>130A01F9-3B4D-4679-99ED-BD0AD01A426F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>130A01F9-3B4D-4679-99ED-BD0AD01A426F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FA87CC7-56BA-4244-9BBA-AB3AB083DAA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E9C5372F-3C07-4382-9F57-997E6E1E6D2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>28C4046B-D4B4-4CEB-B18B-FEA46CFD41E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07C6DD38-1F01-489F-9DCE-2E7F981B3F53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5CC6D8DA-62E2-49CC-AC67-C835103531AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C18192C8-426C-470C-AC45-7CAECD53CB8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7144C0BA-D1C5-40C2-98E6-B0A6D5ECE354</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14E55EA4-9719-4464-B343-EB505A0ED140</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D62F6266-DAD9-4483-89CD-3D58C6371C48</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Set as the default project for the future</string>
			</dict>
		</array>
		<key>89CA7C17-CF39-4D2D-A78D-2CEB8CE0ADE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9C287B2-58A1-475C-A4D5-6152338A7356</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9469E909-3D44-4B2C-8FAA-B0B9B8542875</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C18192C8-426C-470C-AC45-7CAECD53CB8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C18192C8-426C-470C-AC45-7CAECD53CB8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D69C93CA-188A-453D-AD06-3627485CA6FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D62F6266-DAD9-4483-89CD-3D58C6371C48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>703F45AD-0BF4-4025-8861-493A9D6E96FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D69C93CA-188A-453D-AD06-3627485CA6FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>981E39E5-14DD-441E-85FF-51C33ED91793</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1728404-CBF1-4129-BFDD-52F1EC843CE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89CA7C17-CF39-4D2D-A78D-2CEB8CE0ADE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F505ACE4-610E-47B3-ACFA-B45DF6BEC702</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C18192C8-426C-470C-AC45-7CAECD53CB8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Volkov</string>
	<key>description</key>
	<string>Create youtrack tickets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Youtrack Ticket</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>Alfred = Application('Alfred 2');
WF_NAME='me.alexw.youtrack'
console.log("{query}")
if ("{query}".indexOf('yt_') &gt; -1){
 //Alfred.runTrigger('set_settings',{inWorkflow:WF_NAME}) 
 Alfred.runTrigger('{query}',{inWorkflow:WF_NAME,withArgument:'{query}▶'}) 
}else{
 Alfred.runTrigger('open_issue',{inWorkflow:WF_NAME,withArgument:'{query}'}) 
}

</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14E55EA4-9719-4464-B343-EB505A0ED140</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>yt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>python start.py {query}
</string>
				<key>subtext</key>
				<string>Getting issues...</string>
				<key>title</key>
				<string>Open a youtrack ticket</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7144C0BA-D1C5-40C2-98E6-B0A6D5ECE354</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>To open issues in other projects just search for them</string>
				<key>title</key>
				<string>Success!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>703F45AD-0BF4-4025-8861-493A9D6E96FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python start.py --default-project {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D62F6266-DAD9-4483-89CD-3D58C6371C48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>2FA87CC7-56BA-4244-9BBA-AB3AB083DAA4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python start.py --create-issue {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>130A01F9-3B4D-4679-99ED-BD0AD01A426F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>open_issue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>28C4046B-D4B4-4CEB-B18B-FEA46CFD41E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>_yt_open_issue</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>python start.py {query}</string>
				<key>subtext</key>
				<string>please wait</string>
				<key>title</key>
				<string>...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>07C6DD38-1F01-489F-9DCE-2E7F981B3F53</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Wohoo! Issue was created!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E9C5372F-3C07-4382-9F57-997E6E1E6D2C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>yt_url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9469E909-3D44-4B2C-8FAA-B0B9B8542875</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Youtrack preference saved!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>981E39E5-14DD-441E-85FF-51C33ED91793</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python start.py --set {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D69C93CA-188A-453D-AD06-3627485CA6FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>yt_password</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5CC6D8DA-62E2-49CC-AC67-C835103531AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>_yt_set_setting</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>python start.py --set "{query}"</string>
				<key>subtext</key>
				<string>please wait</string>
				<key>title</key>
				<string>...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C18192C8-426C-470C-AC45-7CAECD53CB8C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>yt_username</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F505ACE4-610E-47B3-ACFA-B45DF6BEC702</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>settings_reset_yt</string>
				<key>subtext</key>
				<string>Use to remove all saved Youtrack passwords and settings</string>
				<key>text</key>
				<string>Reset all saved YT settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E1728404-CBF1-4129-BFDD-52F1EC843CE4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Done!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F9C287B2-58A1-475C-A4D5-6152338A7356</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python start.py --reset true</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89CA7C17-CF39-4D2D-A78D-2CEB8CE0ADE0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07C6DD38-1F01-489F-9DCE-2E7F981B3F53</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>130A01F9-3B4D-4679-99ED-BD0AD01A426F</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>14E55EA4-9719-4464-B343-EB505A0ED140</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>28C4046B-D4B4-4CEB-B18B-FEA46CFD41E1</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>2FA87CC7-56BA-4244-9BBA-AB3AB083DAA4</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>5CC6D8DA-62E2-49CC-AC67-C835103531AB</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>703F45AD-0BF4-4025-8861-493A9D6E96FD</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>7144C0BA-D1C5-40C2-98E6-B0A6D5ECE354</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>89CA7C17-CF39-4D2D-A78D-2CEB8CE0ADE0</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>9469E909-3D44-4B2C-8FAA-B0B9B8542875</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>981E39E5-14DD-441E-85FF-51C33ED91793</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>C18192C8-426C-470C-AC45-7CAECD53CB8C</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>D62F6266-DAD9-4483-89CD-3D58C6371C48</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>D69C93CA-188A-453D-AD06-3627485CA6FD</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>E1728404-CBF1-4129-BFDD-52F1EC843CE4</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>E9C5372F-3C07-4382-9F57-997E6E1E6D2C</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>F505ACE4-610E-47B3-ACFA-B45DF6BEC702</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>F9C287B2-58A1-475C-A4D5-6152338A7356</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>aa</string>
</dict>
</plist>
